* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}
body {
  min-height: 221px;
}
@font-face {
  font-family: Yekan;
  src: url(../../fonts/iranyekanwebmedium.woff);
}
@font-face {
  font-family: Nazanin;
  src: url(../../fonts/Far_Nazanin.ttf);
}
:root {
  --font-family: Yekan;
  --font-family-1: Nazanin;
  --font-family-2: Sans-serif;
  --color-menu: #62666d;
  --color-white: #fff;
  --color-primary-500: #ef4056;
  --color-neutral-100: #f0f0f1;
  --color-neutral-200: #e0e0e2;
  --color-neutral-300: #c0c2c5;
  --color-neutral-400: #a1a3a8;
  --color-neutral-500: #81858b;
  --color-neutral-600: #62666d;
  --color-neutral-800: #23254e;
  --color-neutral-900: #0c0c0c;
  --color-neutral-700: #3f4064;
  --color-fresh-700: #029a49;
  --color-secondary-700: #0d4485;
  --color-secondary-500: #1672dd;
  --color-hint-text-caution-rgb: 245, 127, 23;
  --large-radius: 16px;
  --mediume-radius: 8px;
  --small-radius: 4px;
}
.supermarket-wrapper{
  width: 100%;
  height: 100%;
}
.supermarket-header {
  width: 100%;
  height: 110px;
  .supermarket-header-center {
    max-width: 1676px;
    height: 100%;
    margin: 0 auto;
    .supermarket-h-c-top {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .supermarket-h-c-top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        .supermarket-h-c-t-r-logo{
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 2px;
          .supermarket-h-c-t-r-logo-icon {
            width: 45px;
            height: 45px;
            line-height: 45px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .supermarket-h-c-t-r-logo-logo {
            width: 151px;
            height: 40px;
            line-height: 40px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .supermarket-h-c-t-r-search{
          width: 910px;
          height: 40px;
          background-color: var(--color-neutral-100);
          border-radius: var(--mediume-radius);
          .supermarket-h-c-t-r-search-center{
            width: 100%;
            height: 100%;
            padding: 0 16px;
            .supermarket-h-c-t-r-search-c-c{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 20px;
              position: relative;
              font-family: var(--font-family);
              font-size: 12px;
              .supermarket-h-c-t-r-search-c-c-icon{
                width: 18px;
                height: 18px;
                line-height: 18px;
              }
              .supermarket-h-c-t-r-search-c-c-input{
                width: 100%;
                background-color: var(--color-neutral-100);
                input[type="text"]{
                  width: 100%;
                  background-color: transparent;
                  border: none;
                  caret-color: #0d4485;
                  font-family: var(--font-family);
                  font-size: 12px;
                  color: var(--color-neutral-500);
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }
}